/* UserRegister.css */

/* Styles for login navigation */

.user-registration {
  /* Add background image */
  background-image: url('https://images.unsplash.com/photo-1521783988139-89397d761dce?q=80&w=1625&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
  background-size: cover; /* Cover the entire container */
  background-position: center; 
  height: 100vh;
}

.home-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #1e3e7b;
  }
  
  .login-nav {
    background-color: #D9D9D9;
    height: 60px;
  }
  
  /* Styles for login container */
  .login-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 40px;
    /* padding-top: 10rem; */
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    min-height: 70vh; /* Ensure the container takes up 100% height of viewport */
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: transparent;
  }
  
  /* Styles for form elements */
  .form-control {
    width: calc(100% - 20px); /* Adjusted width to leave some space for padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-label {
    margin-bottom: 5px;
  }
  
  /* Styles for submit button */
  .btn-primary {
    background-color: #1e3e7b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: calc(100% - 20px); /* Adjusted width to match form inputs */
  }
  
  .btn-primary:hover {
    background-color: #000000;
  }
  